.contact-us {
    margin-top: 80px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}