/* .package {
    margin-top: 70px;
} */

.package-title {
    margin: 50px;
}

.detail-package a {
  text-decoration: none; 
  color:balck !important
}

.underline-package {
    height: 4px;
    width: 30%;
    border-radius: 5px;
    background: #195b1a;
    display: flex;
    margin: 0px auto;
}

.underline-package-title {
    height: 4px;
    width: 13%;
    border-radius: 5px;
    background: #195b1a;
    margin-bottom: 25px;
}

.package-title p {
    color: #2B2B2B;
    font-size: 38px;
    text-align: center;
    /* margin-top: 100px; */
}

.detail-package .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: #c3da97;
}

.detail-package hr {
  margin: 1.5rem 0;
}

.detail-package .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.detail-package .card-price {
  font-size: 3rem;
  margin: 0;
}

.detail-package .card-price .period {
  font-size: 0.8rem;
}

.detail-package ul li {
  margin-bottom: 1rem;
}

.detail-package .text-muted {
  opacity: 0.7;
}

.detail-package .btn {
    background-color: #195b1a !important;
    border-color: #195b1a !important;
    width: 50%
}

.buy-btn a {
  font-size: 26px;
  font-weight: bold;
  background: #195b1a !important;
}

.sn-business-opportunity-register {
    margin: 50px 0px;
}

.sn-business-opportunity-register p {
    font-style: italic;
    font-size: 22px;
    color: black;
    margin: 10px;
    font-weight: 500;
}

.sn-business-opportunity-register a {
    font-size: 26px;
    color: #427c25 !important;
}

.sn-business-opportunity-background-register {
    background-color:  #1c4417;
    border-radius: 80px;
    width: 50%;
    height: 168px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.sn-business-opportunity-background-register p {
    font-size: 24px;
    color: #195b1a;
    padding-top: 25px;
    text-align: center;
}

.sn-business-opportunity-button-register {
    color: #195b1a;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #FFF;
    width: 45%;
    margin: 0px auto;
}

.sn-business-opportunity-button-register:hover {
    background: #195b1a;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.sn-business-opportunity-button-register:hover a {
    color: #FFF !important;
    font-weight: bold;
}

.sn-business-opportunity-button-register a {
    color: #195b1a;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.sn-business-opportunity-button-register a:link {
    text-decoration: none;
}

@media (min-width: 992px) {
  .detail-package .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .detail-package .card:hover .btn {
    opacity: 1;
  }
}   