/* .gallery {
    margin-top: 70px;
} */

.gallery-title {
    margin: 50px;
}

.gallery-title p {
    color: #2B2B2B;
    font-size: 38px;
    text-align: center;
    margin-top: 60px;
}

.underline-gallery {
    height: 4px;
    width: 10%;
    border-radius: 5px;
    background: #195b1a;
    display: flex;
    margin: 0px auto;
}

.gallery-image {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumb{
    margin-bottom: 30px;
}

img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.modal-header {

    border-bottom: none;
}
.modal-title {
    color:#000;
}
.modal-footer{
    display:none;
}