.logo-navbar {
    width: 50px;
}

.gp-header {
	box-shadow: 2px 4px 5px 0px rgba(216, 216, 216, 0.75);
	background: #FFF !important;
}

.text-nav-active {
	color: #85b236 !important;
}

.text-header {
    font-size: 18px !important;
    margin: 0px 20px;
    font-weight: bold !important;
}

/* .banner-home {
    margin-top: 70px;
} */

.carousel-image-small {
	height: 500px;
	object-fit: cover
}

.text-home {
    text-align: justify ;
}

img.zooms {
    width: 100%;
    /* height: 200px; */
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}