/* .news {
    margin-top: 100px;
} */

.news-content {
	margin: 50px 0px;
}

.news-image {
	width: 100%;
	border-radius: 8px;
}

.news-content-title p {
	font-size: 28px;
	color: black;
	margin-top: 20px;
	margin-bottom: 0px !important;
	font-weight: bold;
}

.news-content-date p {
	font-size: 14px;
}

.news-content-paragraph p {
	font-size: 16px;
	color: black;
	line-height: 1.2;
}

.button-read-more {
	margin-bottom: 30px;
	margin-top: 10px;
	color: #FFF;
	padding: 10px;
	border: 2px solid #195b1a;
	font-weight: bold;
	text-align: center;
	width: 35%;
	float: right;
}

.button-read-more:hover {
	background: #195b1a;
	color: #FFF;
	font-weight: bold;
}

.button-read-more:hover a {
	color: #FFF;
}

.button-read-more a {
	color: #195b1a;
	font-size: 16px;
}

.button-read-more a:link {
	text-decoration: none;
}

.news-search {
	margin: 50px 0px;
}

.news-search-bar {
	border-radius: 30px;
	padding: 10px 25px;
	border: 1px solid #B7B7B7;
}

.news-search-input {
	border: 0;
	outline: 0;
}

.news-search-icon {
	float: right;
}

.news-update-title p {
	font-size: 20px;
	color: black;
	margin-bottom: 3px;
	font-weight: bold;
}

.news-update-image {
	width: 19%;
	height: 65px;
	margin-right: 10px;
	margin-top: 5px;
}

.news-update-list {
	display: flex;
	margin-top: 20px;
}

.news-update-content:hover a {
	text-decoration: none;
}

.news-update-list p {
	font-size: 16px;
	color: black;
	margin-top: 10px;
	margin-bottom: 0px;
}

.news-update-underline {
	height: 4px;
	width: 47%;
	border-radius: 5px;
	background: #195b1a;
}

.news-update-underline-bottom {
	height: 4px;
	width: 10%;
	border-radius: 5px;
	background: #195b1a;
	margin: 50px auto;
}

