/* .news-detail {
	margin-top: 100px;
} */

.news-detail-content {
	margin: 50px 0px;
}

.news-detail-image {
	border-radius: 8px;
	width: 100%;
}

.news-detail-content-title p {
	font-size: 30px;
	color: black;
	font-weight: bold;
}

.news-detail-content-paragraph p {
	font-size: 16px;
	color: black;
	line-height: 1.4;
	margin-bottom: 30px;
}

.news-detail-content-image {
	width: 100%;
}

.news-detail-content-information {
	display: flex;
	margin: 10px 0px;
}

.news-detail-content-information p {
	margin-right: 20px;
	font-size: 14px;
}

.news-detail-content-icon {
	margin-top: 6px;
	margin-right: 5px;
	height: 10px;
}

/*.news-detail-content p {*/
/*	font-size: 20px;*/
/*	text-align: center;*/
/*	font-style: italic;*/
/*}*/

.news-detail-search {
	margin: 50px 0px;
}

.news-detail-search-bar {
	border-radius: 30px;
	padding: 10px 25px;
	border: 1px solid #B7B7B7;
}

.news-detail-search-input {
	border: 0;
	outline: 0;
}

.news-detail-search-icon {
	float: right;
}

.news-detail-update-title p {
	font-size: 20px;
	color: black;
	margin-bottom: 3px;
	font-weight: bold;
}

.news-detail-update-image {
	width: 19%;
	height: 65px;
	margin-right: 10px;
	margin-top: 5px;
}

.news-detail-update-list {
	display: flex;
	margin-top: 20px;
}

.news-detail-update-list p {
	font-size: 16px;
	color: black;
}

.news-detail-update-underline {
	height: 4px;
	width: 47%;
	border-radius: 5px;
	background: #FF538D;
}

.news-detail-update-underline-bottom {
	height: 4px;
	width: 10%;
	border-radius: 5px;
	background: #FF538D;
	margin: 50px auto;
}



