.list-group{
    float:left;
    margin-top: 40px !important;
    margin-left:70px !important;
}
.lead{margin:auto;left:0;right:0;padding-top:10%}
.sidebar-text {
    color: #999999;
    text-decoration: none;
}
.logout-text {
    color: red;
    text-decoration: none;
}
.vl {
    border-left: 1px solid #999999;
    height: 130px;
    position: absolute;
    left: 20%;
    margin-top: 30px;
    margin-right: 10px;
}
